* {
  box-sizing: border-box;
}
:root {
  --primary: #09239d
}
html, body {
  margin: 0px;
  color: #111;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--primary);
}

.container {
  padding: 100px 200px;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

code {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .container {
    padding: 100px 20px;
  }
}